ul.dropdown-menu.attendee-settings-dropdown(role='menu')
  li(role='presentation', ng-class="{'disabled': attendee.mute && !attendee.localmute}")
    a(href='', ng-click='toggleAttendeeMute()', role='menuitem', target='_blank')
      i.fa.fa-fw.conference-mute-button(ng-class="{'fa-microphone': !attendee.mute && !attendee.localmute, 'fa-microphone-slash': attendee.mute || attendee.localmute}")
      span(ng-if='attendee.localmute') Unmute
      span(ng-if='!attendee.localmute') Mute
  li(role='presentation')
    a(href='', ng-click='showReportPopup()', role='menuitem', target='_blank')
      i.fa.fa-fw.fa-exclamation-triangle.conference-report-button
      |&nbsp;Report
