div.attendee-video
  video.conference-attendee-video-multi(ng-click="onVideoClick(videoIndex)", id="{{videoId}}", autoplay="autoplay", ng-class="{thumbhover: thumbhover}", ng-mouseenter="thumbhover = true", ng-mouseleave="thumbhover = false" ng-init="count=0")
  a.hidden-xs.hidden-sm(href='', target='_blank', ng-show="videoId !== 'video-thumb0' && thumbhover", ng-mouseenter="thumbhover = true", ng-mouseleave="thumbhover = true")
    i.fa.fa-2x.fa-cog.conference-settings-button(data-placement="right-bottom", data-html="true", data-animation="am-flip-x", bs-dropdown, template="templates/attendee-settings-dropdown.jade")
  i.fa.fa-2x.fa-microphone-slash.conference-secondary-mute-button(ng-show="muted")
  i.fa.fa-2x.fa-eye-slash.conference-secondary-toggle-video-button(ng-show="videoMuted")
  p.hidden-xs.text-center.conference-attendee-name {{attendee}}
