div.attendee-video
  canvas.conference-attendee-video-multi(data-video-id="{{videoId}}", width='150', height='150', ng-click="onVideoClick(videoIndex)", ng-mouseenter="thumbhover = true", ng-mouseleave="thumbhover = false", ng-init="count=0", ng-class="{thumbhover: thumbhover}")
  video(id="{{videoId}}", autoplay="autoplay")
  a.hidden-xs.hidden-sm(href='', target='_blank', ng-show="videoId !== 'video-thumb0' && thumbhover", ng-mouseenter="thumbhover = true", ng-mouseleave="thumbhover = true")
    i.fa.fa-2x.fa-cog.conference-settings-button(data-placement="right-bottom", data-html="true", data-animation="am-flip-x", bs-dropdown, template="templates/attendee-settings-dropdown.jade")
  i.fa.fa-2x.fa-microphone-slash.conference-secondary-mute-button(ng-show="attendee.mute")
  i.fa.fa-2x.fa-eye-slash.conference-secondary-toggle-video-button(ng-show="videoMuted")
  p.text-center.conference-attendee-name.ellipsis {{attendee.displayName}}
  conference-speak-viewer(video-id="{{videoId}}")
