.user-video(ng-mouseenter="thumbhover = true", ng-mouseleave="thumbhover = false")
  canvas.conference-main-video-multi(smart-fit, from="#multiparty-conference", preserve=".conference-attendees-bar", id="mainVideoCanvas", ng-click='onMobileToggleControls()')
